body{
    /* display: flex; */
    background-color: rgb(51, 51, 51);
}
.container{
    
    display: grid;
    justify-content: center;
}

.common{
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}
.item {
    width: 30%;
    margin: 1%;
    flex: auto;
    text-align: center;
}

.container1{
    margin-top: 10%;
    display:flex;
    justify-content:space-around;

}   
.button{
    padding: 5px;
    display:grid;
}
.button input{
    border: 0.1px solid black;
    border-radius: 3px;
    margin: 5px;
    width: 50px;
}
#toonutga{
    border: 0.5px solid black;
    border-radius: 5px;
    text-align: center;

}
.bal{
    margin-top: 20%;

    display:flex;
    justify-content: center;
    background-color: gray;
}
#balance{
    /* font-size: ; */
    display: inline-block;
    text-align: center;
    align-self: auto;
}